---
import "@fontsource-variable/jura";
import Layout from "../layouts/Layout.astro";
import "@fontsource/questrial";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Projects from "../components/Projects.astro";
import Skills from "../components/Skills.astro";
---

<Layout
	title="Portfolio de Bernardo Lima - Programador y Desarrollador Web"
	description="Portfolio de Bernardo Lima Cardenas enfocado en el diseño web, desarrollo creativo y soluciones digitales."
	image="https://raw.githubusercontent.com/holddev/BernardoLima-DevPortfolio/refs/heads/main/public/assets/Portfolio.webp"
	url="https://bernardolc-portfolio.deno.dev/"
>
	<main class="font-questrial max-w-2xl m-auto px-4">
		<Hero />
		<Projects id="proyectos" />
		<Skills id="habilidades" />
		<About id="sobre_mi" />
	</main>
</Layout>
