---
import "@fontsource-variable/jura";
import Layout from "../layouts/Layout.astro";
import "@fontsource/questrial";
import Hero from "../components/Hero.astro";
import Projects from "../components/Projects.astro";
import Skills from "../components/Skills.astro";
import Experience from "../components/Experience.astro";
---

<Layout
	title="Portfolio de Bernardo Lima - Programador y Desarrollador Web"
	description="Portfolio de Bernardo Lima Cardenas enfocado en el diseño web, desarrollo creativo y soluciones digitales."
	image="https://raw.githubusercontent.com/holddev/BernardoLima-DevPortfolio/refs/heads/main/public/assets/Portfolio.webp"
	url="https://bernardolc-portfolio.deno.dev/"
>
	<main
		class="scroll-container relative w-full h-screen overflow-hidden font-questrial max-h-screen max-w-screen"
	>
		<div id="scroll-sections" class="flex w-[400%]">
			<Hero id="inicio" class="w-full overflow-hidden" />
			<Experience id="experiencia" class="w-full overflow-hidden" />
			<Projects id="proyectos" class="w-full overflow-hidden" />
			<Skills id="habilidades" class="w-full overflow-hidden" />
		</div>
	</main>
	<script type="module" src="/src/scripts/scrollAnimations.js"></script>
</Layout>
