---
import DialogCV from "./DialogCV.astro";
import IconBadge from "./IconBadge.astro";
import Github from "./icons/Github.astro";
import LinkedIn from "./icons/LinkedIn.astro";
import Logo from "./icons/Logo.astro";
import Whatsapp from "./icons/WhatsApp.astro";
---

<section class="sm:pt-40 pt-24 sm:pb-20 pb-6 dark:text-[#d1d5db]" id="inicio">
  <span
    title="Disponible para trabajar"
    class="sm:hidden inline-flex items-center text-[.8rem] text-[#d48d23] bg-black rounded-full border-2 border-[#d48d23] pr-2 tracking-wide"
  >
    <Logo class="size-8" />isponible para Trabajar
  </span>
  <h1
    class="font-jura font-bold sm:text-6xl text-4xl translate-x-[-5px]
  bg-gradient-to-r from-[#ff9900] to-[#8a3e04] bg-clip-text text-transparent"
  >
    Bernardo Lima
  </h1>
  <strong
    class="block font-jura font-bold sm:text-2xl text-xl py-3 dark:text-[#ff9900]"
  >
    Frontend Developer {"</>"}
  </strong>
  <h2 class="py-4 text-pretty">
    ¡Hola! Soy Bernardo, soy persona apasionada por desarrollo web con ganas de
    dejar mi huella en el mundo digital. Me entusiasma explorar nuevas
    tecnologías y contribuir en proyectos donde pueda mejorar mis habilidades.
  </h2>
  <ul class="flex gap-x-4 sm:text-[1rem] text-[.6rem]">
    <li>
      <IconBadge
        href="https://linkedin.com/in/bernardo-lc"
        title="LinkedIn icon"
        label="Visitar perfil de LinkedIn"
      >
        <LinkedIn class="size-4 fill-current" />
        LinkedIn
      </IconBadge>
    </li>
    <li>
      <IconBadge
        href="https://github.com/Usuario6842"
        title="GitHub icon"
        label="Visitar perfil de GitHub"
      >
        <Github class="size-4 fill-current" />
        Github
      </IconBadge>
    </li>
    <li>
      <IconBadge
        href="https://wa.me/+59174026870"
        title="Whatsapp icon"
        label="MContactar por Whatsapp"
      >
        <Whatsapp class="size-4 fill-current" />
        WhatsApp
      </IconBadge>
    </li>
  </ul>
  <DialogCV />
</section>
