---
interface Props {
  label: string;
  href: string;
  title: string;
}
const { href, label, title } = Astro.props;
---

<a
  href={href}
  aria-label={label}
  title={title}
  class="flex"
  rel="noopener noreferrer"
  target="_blank"
  role="link"
>
  <span
    class="flex gap-2 items-center justify-center
      border-[1px] border-primary rounded-full text-primary
      bg-transparent hover:bg-primary
      transition-all duration-400
      p-2 hover:text-white/90"
  >
    <slot />
  </span>
</a>
